.button__new {
  width: 178px;
  height: 45px;
  font-size: 20px;
  border: none;
  border-radius: 23px;
  background-color: #ff3b30;
  font-family: SF pro;
  color: #fffdfd;
}

.container {
  display: flex;
  justify-content: center;
  margin: 100px;
}
