.answer__input {
  box-sizing: border-box;
  width: 310px;
  height: 45px;
  background-color: #e1e1e3;
  border: none;
  border-radius: 23px;
  font-family: SF;
  font-size: 20px;
  padding-left: 29px;
  margin: 19px 32px 0 33px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
