@font-face {
  font-family: "SF";
  src: url("/fonts/SF-Pro-Display-Regular.otf");
}

body {
  display: flex;
  margin: 0;
  background-color: #ffffff;
  height: 100vh;
  color: #707070;
  font-family: SF;
}
